{{! <button class="btn">CREATE</button> }}
<a href="/restaurants/new" class="create">CREATE</a>

{{! search bar }}
<form action="/restaurants/search" method="get">
  <div class="container search-bar">
    <div class="search-bar-outer">
      <div class="search-bar-inner">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input
            type="text"
            name="keyword"
            class="form-control"
            placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..."
            value=""
            aria-describedby="search-button"
          />
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i
                class="fas fa-search"
              ></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

{{! Restaurant List }}
<div class="container mt-5">
  <div class="row justify-content-center" style="margin-bottom: 2rem;">
    <div class="col-md-10">
      {{! 一次設定好不同螢幕可以顯示多少個 card }}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {{#each restaurants}}
          <div class="col">
            <div class="card h-100">
              <a href="/restaurants/{{id}}">
                <img class="card-img-top" src="{{image}}" alt="{{category}}" />

              </a>
              <div class="card-body p-3">
                <h6 class="card-title mb-3">{{name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2 mb-3" ></i>&nbsp;&nbsp;{{category}}
                </div>
                <div class="crud">
                  <span class="badge rounded-pill bg-danger font-weight-normal">
                    {{rating}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                  <div class="icons">
                    <a href="/restaurants/{{id}}" class="text-secondary"><i
                        class="fa-solid fa-eye fa-xl"
                        title="詳細資料"
                      ></i></a><a href="/restaurants/{{id}}/edit"><i
                        class="fa-regular fa-pen-to-square fa-xl"
                        title="編輯"
                      ></i></a>

                    <form
                      action="/restaurants/{{id}}?_method=DELETE"
                      method="post"
                    >
                      <button
                        type="submit"
                        class="btn btn-link p-0"
                        title="刪除"
                      >
                        <i
                          class="fa-solid fa-trash fa-xl"
                          style="color: #c91313;"
                        ></i></button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{!-- 在 {{#each restaurants}} 中，each 幫助器迴圈遍歷 restaurants 數組，並且每次迴圈內部的上下文都是數組中的一個元素。這樣，你可以直接使用 {{name}}、{{category}}、{{rating}} 等來訪問元素的屬性，而不需透過this或restaurant訪問 --}}